/*{
    box-sizing: border-box;
    /*background: linear-gradient(to right, #ff105f, #ffad06); /* took this from my login-form. No longer using this as I found a beautiful background img.
    background-image: url(images/sky.png);
    background-size: cover; /*This property/value pair tells the browser to scale the background image proportionally so that its width and height are equal to, or greater than, the width/height of the element. - Per https://www.webfx.com/blog/web-design/responsive-background-image/ 
    background-position-x: center; 
    background-position-y: center; 
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    /* codes from line 5 to 10 are taken from my tip calculator project
}*/
.kanban {
    display: flex; /* using flex here to create the 3 column layout */
    padding: 30px;
    width: 750px;
    background: #009578;
    border-radius: 5px;
}